
<div id="NOTICE"></div>
<div id="device" class=""></div>
<div id="asl2" class="STALL-UNIT"></div>
<div id="asl1" class="STALL-UNIT"></div>
<div class="ctls">
  <button class="click-interactive REFREASH refresh">今の状態を確認する</button>
</div>
<div id="tell-me"></div>
