
<div id="NOTICE"></div>
<div id="device" class="" data-step='3' data-intro='ちゃんと監視中かどうかはココで分かります。監視デバイスが動いていないときのドアの状態はあてになりません<br>m(_ _)m'></div>
<div data-position="top" data-intro='空き状況はココで分かります<br>ドアをクリックすると空いたり閉じたりして少し面白いです' data-step='2'>
  <div id="asl2" class="STALL-UNIT"></div>
  <div id="asl1" class="STALL-UNIT"></div>
</div>
<div class="ctls">
  <button class="click-interactive REFREASH refresh">今の状態を確認する</button>
</div>
<div id="tell-me" data-position="top" data-intro='ドアが両方閉まっている時は、<br>ここに<b>空いたら教えてボタン</b>が現れます。<br>押しておけば個室が空いたときにデスクトップに通知を投げてくれます。別タブで作業をしていても、ブラウザを最小化していても大丈夫です。' data-step='4'></div>
