<%= name %>
<div class="DOOR <%= status %>">
  <img class="VACANT OUTSIDE door-toggle" src="/assets/vacant.png">
  <img class="VACANT INSIDE door-toggle" src="/assets/vacant_out.png">
  <img class="OCCUPIED OUTSIDE door-toggle" src="/assets/occupied.png">
  <img class="OCCUPIED INSIDE door-toggle" src="/assets/occupied_out.png">
  <img class="UNKNOWN OUTSIDE" src="/assets/unknown.png">
</div>
