
<p class="STALL <%= class_name_by_stalls_status( stall.status ) %>">
  <span class="STALLS_NAME"><%= stall.display_name %></span>
  <span class="STALLS_STATUS"><%= stall.updated_at.strftime('%H:%M') %><%= message_for_stalls_status( stall.status ) %></span>
</p>
