
<div><%= message_for_device_status( @device.status ) %></div>

<% Stall.all.each do |s|%>
<%= render 'stall', stall: s %>
<% end %>

<%= javascript_tag do %>
  setInterval( window.listen_heart_beat_request ,12000);
<% end %>


