
<div id="CUSTOMER-MAIN"></div>

<%= javascript_tag do %>
  $(document).ready( function(){
    BEmpty.start({
      data: {
        bootstrapedAsl1: <%= Stall.find_by( name: 'asl1').to_json.html_safe %>,
        bootstrapedAsl2: <%= Stall.find_by( name: 'asl2').to_json.html_safe %>
      }
    });
  });
<% end %>
