<div class="STALL <%= hoge() %>">
  <h3 class="NAME"><%=  name  %></h3>
  <div class="SUB-BOX">
    <div class="STATUS"><%=  status  %></div>
    <div class="LAST-MONITORED"><span class="last_monitored">00:00</span></div>
    <div class="PERCENT"><span class="AMOUNT">88</span><span class="UNIT">%</span></div>
    <div id="circle-<%= id %>" class="CIRCLE">
    </div>
  </div>
</div>
