<!DOCTYPE html>
<html>
<head>
  <title >BEmpty</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<!--  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:700,200' rel='stylesheet' type='text/css'>
  -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="MAIN-CONTAINER">
  <header class="MAIN-HEADER">
  <nav class="MAIN-NAV"><span class="ITEM" onClick="introJs().start();">使い方</span> / <a  class="ITEM" href="mailto:kouroki@aisel.ne.jp"  data-step="6" data-intro="ご意見ご要望はコチラへ<br>(メールですが...)" data-position="left">ご意見ご要望</a></nav>
  <h1 class="LOGO" data-step="1" data-intro="BEmptyはトイレの空き状況が分かるツールです。<br>ブラウザは<b>Chrome,Safari,firefox</b>を推奨します<br><br><b>Enterで次に進めます</b>">BEmpty</h1>
  </header>
  <div class="CONTENTS"><%= yield %></div>
  <footer class="MAIN-FOOTER">
  <p class="LOGO">BEmpty</p>
  </footer>
 </div>

</body>
</html>
